header {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    //background-color: rgba(255,255,255, 0.49);
    background: white;
    justify-content: space-between;
    z-index: 10;
    position: sticky;
    top: 0;
}

.main-logo {
    display: flex;
    align-items: center;
    width: 55%;
    margin-left: 0;

    a,
    a:active {
        color: $black;
    }

    span {
        font-family: 'Open_sans', Helvetica, Roboto, Arial, sans-serif;
        letter-spacing: rem-calc(0.7);
        display: block;

        &.signature {
           font-size: rem-calc(11);
           font-family: 'Montez';
           text-align: center;
           line-height: 1;
        }
    }
}

.logo {
    font-family: 'Montez'!important;
    font-size: rem-calc(24);
    z-index: 2;
}

.circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(white 45%, #d3d3d3 75%, #adc5f9 5%);
    margin-right: 5px;

    img {
        position: absolute;
        top: -5px;
        right: -5px;
        height: 25px;
        transform: rotate(3deg);
    }
}

nav {
    width: 45%;
    max-width: 250px;
    position: relative;

    .menu {
        max-height: 0;
        display: block;
        overflow: hidden;
        transition: max-height ease-out 0ms;

        li {
            text-transform: uppercase;
            font-size: rem-calc(14);
            letter-spacing:rem-calc(0.9);
            font-family: 'Open_sansb', Helvetica, Roboto, Arial, sans-serif;
    
            a {
                padding: 20px;
                color: $gray;
                transition: color 400ms ease;
    
                &:hover,
                &:active {
                    color: $black;
                }
            }

            &.selected {
                a {
                   color: $black;
                }

            }
        }
    }

    .mobile-menu {
        width: 25px;
        height: 20px;
        position: relative;
        margin-left: auto;
        cursor: pointer;

        &:hover {
            span {
                background: $black;
            }
        }

        span {
            height: 2px;
            width: 100%;
            background: $dark-gray;
            margin: 6px 0;
            display: block;
            transition: .25s ease-in-out;
        }

        #hamburger {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 100%;
        }
        

        #hamburger span {
            margin: 0;
            &:first-child {
                transition-delay: 0.5s;
            }

            &:nth-child(2) {
                transition-delay: 0.625s;
            }

            &:nth-child(3) {
                transition-delay: 0.75s;
            }
        }

        #cross {
            transform: rotate(45deg);
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
        }

        #cross span {
            &:nth-child(1) {
               height:0%;
               width: 2px;
               margin: 0;
               position:absolute;
               top: -1px;
               left: 12px;
               transition-delay:0s;
            }
            
            &:nth-child(2) {
                width:0%;
                height: 2px;
                position:absolute;
                left: 3px;
                top: 2px;
                transition-delay:.25s;
            }
        }
    }
    
    &.is-open {
        //box-shadow: 6px 7px 14px 0px #ccc;
        z-index: 1;
        .menu {
            max-height: 200px;
            position: absolute;
            top: 20px;
            right: 0;
            width: 100%;
            max-width: 250px;
            background-color: $white;
            //box-shadow: 5px 5px 10px 1px #ccc;
            transition: max-height ease-in 800ms;
            

            li {
                justify-content: flex-start;

                a {
                    width: 100%;
                    color: $dark-gray;
                    padding-left: 20%;
                    padding-top: 10px;
                }

                &.selected {
                    a {
                        color: $black;
                    }
                }
            }

        }

        .mobile-menu {
            #hamburger {
                height: 0;
                span {
                    width: 0%;
                    height: 0;
                    margin: 0;

                    &:nth-child(1){
                       transition-delay:0s;
                    }

                    &:nth-child(2){
                        transition-delay:.125s;
                    }

                    &:nth-child(3){
                       transition-delay:.25s;
                    }
                }
            }

            #cross {
                span {
                    &:nth-child(1){
                      height: 100%;
                      transition-delay:.625s;
                    }
                
                    &:nth-child(2){
                        width:80%;
                        transition-delay:.375s;
                    }
                }    
            }
        }
    }
}

.main-image {
    //display: flex;
    text-align: center;

    img {
        width: auto;
        height: 250px;
        margin: 1px;
    }
}

@include breakpoint(medium) {
    header {
        padding: 20px 15px;
    }

    .main-logo {
        margin-left: 20px;
        width: 30%;
    }

    nav {
        width: 70%;

        .mobile-menu {
            margin-right: 20px;
        }
    }
}

@include breakpoint (large) {
    nav {
        max-width: 100%;
        
        .menu {
            max-height: 56px;
            display: flex;
            box-shadow: none;

            li.selected {
                border: 1px solid $black;
            }
        }

        &.is-open {
            box-shadow: none;

            .menu {
                position: static;
                max-width: none;
                box-shadow: none;

                li a {
                    padding: 20px;
                }
            }
        }
    }

    .main-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}